* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-repeat: no-repeat;

}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    /*height: 28px !important;*/
    /*width: 8px !important;*/
    width: 8px !important;
}

/* 定义了滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-style: dashed;
    background-color: rgba(129, 129, 129, 0.4);
    border-color: #e2242400;
    border-width: 1.5px;
    background-clip: padding-box;
}

button {
    white-space: nowrap;
}

.choice-box {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    /*margin: 5% auto;*/
    justify-content: space-between;
}

/* 选项卡 */
.choice {
    float: left;
    width: calc(18% - 5px);
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 10px;
    user-select: none;
}

.choice li {
    margin: 0;
    /*border: #000 1px solid;*/
    height: inherit;
    font-size: 22px;
}

.choice li:hover {
    font-size: 30px;
    background-color: gainsboro;
    transition: all 0.2s linear;
}

.choice li a {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 10px;
}

/* 盘 */
.choice-con {
    position: relative;
    width: 82%;
    height: 100%;
}

.choice-con .choice-con-li {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.choice-con .choice-con-li .box {
    margin: 1%;
    width: 98%;
    /*height: 98%;*/
    border: #000 1px solid;
    display: flex;
    flex-direction: column;
}

.choice-con .choice-con-li .bg-f {
    line-height: 100vh;
    text-align: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    pointer-events: none;
}

/* 设备 */
.box .box2 {
    padding: 4px;
    width: calc(100% - 8px);
    height: 100%;
    border: #000 1px solid;
}

.device .box2 {
    display: inline-flex;
}

#device-list {
    width: inherit;
    min-width: 70%;
    display: block;
    border: #000 1px solid;
}

#device-list.disabled {
    pointer-events: none;
    background-color: rgba(205, 205, 205, 0.25);
    color: rgba(0, 0, 0, 0.25);
}

#device-list li {
    display: block;
    cursor: pointer;
    margin: 5px 2px;
    word-wrap: break-word;
    border: #00000000 1px solid;
}

#device-list li:hover {
    background-color: #ccc;
    border: #000 1px solid;
}

.device .box2 .btn-box {
    width: inherit;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #000 1px solid;

}

.device .box2 .btn-box .btn1 {}

.device .box2 .btn-box .btn2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.device .box2 .btn-box button {
    width: inherit;
    min-width: 40%;
}

/* 心率 */
.heartrate {
    text-align: center;
}

.heartrate button {
    margin: 10px;
    background: #eee;
    border: 1px solid #ccc;
}

.heartrate button:hover {
    background: #ddd;
}

.heartrate .heart-rate {
    font-size: 30px;
}

canvas#heartRateChart {
    position: absolute;
    bottom: calc((100vh * 0.82 * 0.98 * 0.98) / 2);
    left: 50%;
    transform: translate(-50%, 50%);
    width: calc(100vw * 0.82 * 0.98 * 0.98) !important;
    height: 75vh !important;
}

/* 页面 */
.page .box2 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    overflow-y: auto;
    align-content: flex-start;
    z-index: 0;
    position: relative;
    justify-content: space-around;
}

.card {
    width: 103px;
    /* 宽109 %5 */
    height: 128px;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1px;
}

.image-container {
    height: 103px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 8px 8px 0 0;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    cursor: pointer;
}

.name {
    padding: 8px;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
    line-height: 0;
}

.buttons {
    display: flex;
    border-top: 1px solid #eee;
}

.button {
    flex: 1;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.2s;
    text-box: auto;
    line-height: 0;
}

.button:hover {
    background-color: #ffffff;
}

.button.copy {
    border-right: 1px solid #eee;
    color: #2196F3;
}

.button.open {
    color: #4CAF50;
}

/* 浮窗 */

.switch-box {
    width: 50px;
    height: 30px;
    background-color: rgb(230, 230, 230);
    position: relative;
    cursor: pointer;
    /* 外观 */
    appearance: none;
    border-radius: 30px;
    transition: all 500ms;
}

.switch-box ::before {
    width: 50px;
    height: 30px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    cursor: pointer;
    content: '';
    border-radius: 15px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.switch-box::after {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(#000, .3);
    content: '';
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.switch-box:checked {
    background-color: darkcyan;
}

.switch-box:checked::after {
    transform: translateX(20px);
}

.switch-box:checked::before {
    transform: scale(0);
}

.float .box2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5PX 20PX;
    align-content: flex-start;
}

.float .box2 .switch {
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin: 4px;
}

/* 设置 */
.set .box_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set .box_ .btn {
    margin-right: 1%;
    display: flex;
    justify-content: flex-end;
    width: 30%;
    gap: 10px;
}

.set .box_ .btn button {
    min-width: 40%;
}


.set .box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.set .box2 .box3 {
    margin: 5px 0 0 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}