* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-repeat: no-repeat;

}

.choice-box {
    display: flex;
    position: relative;
    width: 800px;
    height: 600px;
    /*margin: 5% auto;*/
    justify-content: space-around;
}

/* 选项卡 */
.choice {
    float: left;
    width: 16%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 10px;
    user-select: none;
}

.choice li {
    margin: 0;
    /*border: #000 1px solid;*/
    height: inherit;
}

.choice li a {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #000;
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 10px;
}

/* 盘 */
.choice-con {
    position: relative;
    width: 82%;
    height: 100%;
}

.choice-con .choice-con-li {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.choice-con .choice-con-li .box {
    margin: 1%;
    width: 98%;
    /*height: 98%;*/
    border: #000 1px solid;
}

.choice-con .choice-con-li .bg-f {
    line-height: 500px;
    text-align: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    pointer-events: none;
}

/* 设备 */
.device {
    display: flex;
    flex-direction: column;
}

.device .box2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: #000 1px solid;
}

#device-list {
    flex: 6;
    display: block;
    border: #000 1px solid;
}

#device-list li {
    width: 100%;
    display: block;
    cursor: pointer;
    margin: 1%;
}

#device-list li:hover {
    background-color: #ccc;
}

.device .box2 .btn-box {
    flex: 4;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #000 1px solid;

}
.device .box2 .btn-box .btn1 {
    
}

.device .box2 .btn-box .btn2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.device .box2 .btn-box button {
    width: 30%;
}

/* 心率 */
.heartrate {
    text-align: center;
}

.heartrate button {
    margin: 10px;
    background: #eee;
    border: 1px solid #ccc;
}

.heartrate button:hover {
    background: #ddd;
}

.heartrate .heart-rate {
    font-size: 30px;
}