<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeartRate</title>
    <link rel="stylesheet" href="../static/main.css">
    </link>
</head>

<body>
    <div class="choice-box">
        <ul class="choice">
            <li>
                <a class="choice-1">主页</a>
            </li>
            <li>
                <a class="choice-2">设备</a>
            </li>
            <li>
                <a class="choice-3">心率</a>
            </li>
            <li>
                <a class="choice-4">网页</a>
            </li>
            <li>
                <a class="choice-5">浮窗</a>
            </li>
            <li>
                <a class="choice-6">设置</a>
            </li>
        </ul>

        <ul class="choice-con">
            <!-- 下面li标签可以添加自己的内容和样式 -->
            <!-- 主页 -->
            <li class="choice-con-li" id="choice-1" style="background-color: gainsboro">
                <div class="box">
                    <h1>主页</h1>
                    <div class="box2">
                        <iframe src="/1" width="99.9%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
                <p class="bg-f">我是主页</p>
            </li>
            <!-- 设备 -->
            <li class="choice-con-li" id="choice-2" style="background-color: gainsboro;">
                <div class="box device">
                    <h1>设备</h1>
                    <div class="box2">
                        <ul id="device-list"><!-- li --></ul>
                        <div class="btn-box">
                            <div class="btn">
                                <button id="refresh_devices" onclick="refresh_devices()">刷新</button>
                            </div>
                            <div class="btn2">
                                <button id="connect_device" onclick="connect_device()">连接</button>
                                <button id="disconnect_device" onclick="disconnect_device()">断开</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="bg-f">我是设备</p>
            </li>
            <!-- 心率 -->
            <li class="choice-con-li" id="choice-3" style="background-color: gainsboro;">
                <div class="box heartrate">
                    <h1>当前心率: <span id="heart-rate">--</span> BPM</h1>
                    <canvas id="heartRateChart"></canvas>
                </div>
                <p class="bg-f">我是心率</p>
            </li>
            <!-- 网页 -->
            <li class="choice-con-li" id="choice-4" style="background-color: gainsboro;">
                <div class="box page">
                    <h1>网页</h1>
                    <div class="box2" id="card-container">

                    </div>
                </div>
                <p class="bg-f">我是网页</p>
            </li>
            <!-- 浮窗 -->
            <li class="choice-con-li" id="choice-5" style="background-color: gainsboro;">
                <div class="box float">
                    <h1>浮窗</h1>
                    <div class="box2">
                        <div class="switch">
                            <input class="switch-box" type="checkbox" id="open">
                            <label for="switch-box">悬浮窗</label>
                        </div>
                        <div class="switch">
                            <input class="switch-box" type="checkbox" id="move">
                            <label for="switch-box">移动</label>
                        </div>
                        <div class="switch">
                            <input class="switch-box" type="checkbox" id="transparent">
                            <label for="switch-box">透明</label>
                        </div>
                    </div>
                </div>
                <p class="bg-f">我是浮窗</p>
            </li>
            <!-- 设置 -->
            <li class="choice-con-li" id="choice-6" style="background-color: gainsboro;">
                <div class="box set">
                    <div class="box_">
                        <h1>设置</h1>
                        <div class="btn">
                            <button onclick="setting_reset()">恢复默认</button>
                            <button onclick="setting_save()">保存</button>
                        </div>
                    </div>

                    <div class="box2">
                        <h3>服务器</h3>
                        <div class="box3">
                            <a for="server_host">地址</a>
                            <input type="text" id="server_host" placeholder="请输入服务器地址"></input>
                        </div>
                        <div class="box3">
                            <a for="server_port">端口</a>
                            <input type="text" id="server_port" placeholder="请输入服务器端口"></input>
                        </div>
                        <h3>启动时</h3>
                        <div class="box3 switch">
                            <input class="switch-box" type="checkbox" id="start_refresh">
                            <label for="switch-box">刷新设备</label>
                        </div>
                        <h3>浮窗</h3>
                        <div class="box3 switch">
                            <input class="switch-box" type="checkbox" id="float_open">
                            <label for="switch-box">悬浮窗开关</label>
                        </div>
                        <div class="box3 switch">
                            <input class="switch-box" type="checkbox" id="float_move">
                            <label for="switch-box">悬浮窗移动</label>
                        </div>
                        <div class="box3 switch">
                            <input class="switch-box" type="checkbox" id="float_transparent">
                            <label for="switch-box">悬浮窗透明</label>
                        </div>
                    </div>
                </div>
                <p class="bg-f">我是设置</p>
            </li>
        </ul>
    </div>
</body>
<script src="../static/chart.js"></script>
<script src="../static/heart_rate_chart.js"></script>

<script src="../static/main.js"></script>

</html>